@import url(http://twitter.github.com/bootstrap/assets/css/bootstrap.css);
/* Some color */
/* ########### DEFAULT #########*/
/*for inline content */
/* ########### HEADER #########*/
/* Colored Band */
/* HEADERBAND */
/* ######### PAGE #########*/
/* Social headband */
/*#### POST ####*/
/* Headband */
/* Post */
/* Archive */
/* Archive button */
/*#### Author ####*/
/*#### 404 #####*/
/* ### FOOTER #### */
/*############## HEADER ######### */
/* ressources */
/* Sizes */
/* Animations */
/* ##### PAGE ###### */
/* General */
/* Social Headband*/
/*#### POST ####*/
/* headband */
/* links */
/* Archive */
/* Archive button */
/*#### Author Page ####*/
/* ##### FOOTER ##### */
.post pre,
.post code {
  border: 1px solid #d5d5e9;
  background-color: #eef;
  padding: 8px 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 15px;
  overflow: scroll;
}
.post code {
  padding: 1px 5px;
}
.post ul,
.post ol {
  margin-left: 1.35em;
}
.post pre code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}
/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.post pre.terminal code {
  background-color: #333;
}
.post pre,
.post code {
  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}
.highlight {
  background: #ffffff;
}
.highlight .c {
  color: #999988;
  font-style: italic;
}
/* Comment */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
/* Error */
.highlight .k {
  font-weight: bold;
}
/* Keyword */
.highlight .o {
  font-weight: bold;
}
/* Operator */
.highlight .cm {
  color: #999988;
  font-style: italic;
}
/* Comment.Multiline */
.highlight .cp {
  color: #999999;
  font-weight: bold;
}
/* Comment.Preproc */
.highlight .c1 {
  color: #999988;
  font-style: italic;
}
/* Comment.Single */
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
/* Comment.Special */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}
/* Generic.Deleted */
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa;
}
/* Generic.Deleted.Specific */
.highlight .ge {
  font-style: italic;
}
/* Generic.Emph */
.highlight .gr {
  color: #aa0000;
}
/* Generic.Error */
.highlight .gh {
  color: #999999;
}
/* Generic.Heading */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}
/* Generic.Inserted */
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa;
}
/* Generic.Inserted.Specific */
.highlight .go {
  color: #888888;
}
/* Generic.Output */
.highlight .gp {
  color: #555555;
}
/* Generic.Prompt */
.highlight .gs {
  font-weight: bold;
}
/* Generic.Strong */
.highlight .gu {
  color: #aaaaaa;
}
/* Generic.Subheading */
.highlight .gt {
  color: #aa0000;
}
/* Generic.Traceback */
.highlight .kc {
  font-weight: bold;
}
/* Keyword.Constant */
.highlight .kd {
  font-weight: bold;
}
/* Keyword.Declaration */
.highlight .kp {
  font-weight: bold;
}
/* Keyword.Pseudo */
.highlight .kr {
  font-weight: bold;
}
/* Keyword.Reserved */
.highlight .kt {
  color: #445588;
  font-weight: bold;
}
/* Keyword.Type */
.highlight .m {
  color: #009999;
}
/* Literal.Number */
.highlight .s {
  color: #dd1144;
}
/* Literal.String */
.highlight .na {
  color: #008080;
}
/* Name.Attribute */
.highlight .nb {
  color: #0086b3;
}
/* Name.Builtin */
.highlight .nc {
  color: #445588;
  font-weight: bold;
}
/* Name.Class */
.highlight .no {
  color: #008080;
}
/* Name.Constant */
.highlight .ni {
  color: #800080;
}
/* Name.Entity */
.highlight .ne {
  color: #990000;
  font-weight: bold;
}
/* Name.Exception */
.highlight .nf {
  color: #990000;
  font-weight: bold;
}
/* Name.Function */
.highlight .nn {
  color: #555555;
}
/* Name.Namespace */
.highlight .nt {
  color: #000080;
}
/* Name.Tag */
.highlight .nv {
  color: #008080;
}
/* Name.Variable */
.highlight .ow {
  font-weight: bold;
}
/* Operator.Word */
.highlight .w {
  color: #bbbbbb;
}
/* Text.Whitespace */
.highlight .mf {
  color: #009999;
}
/* Literal.Number.Float */
.highlight .mh {
  color: #009999;
}
/* Literal.Number.Hex */
.highlight .mi {
  color: #009999;
}
/* Literal.Number.Integer */
.highlight .mo {
  color: #009999;
}
/* Literal.Number.Oct */
.highlight .sb {
  color: #dd1144;
}
/* Literal.String.Backtick */
.highlight .sc {
  color: #dd1144;
}
/* Literal.String.Char */
.highlight .sd {
  color: #dd1144;
}
/* Literal.String.Doc */
.highlight .s2 {
  color: #dd1144;
}
/* Literal.String.Double */
.highlight .se {
  color: #dd1144;
}
/* Literal.String.Escape */
.highlight .sh {
  color: #dd1144;
}
/* Literal.String.Heredoc */
.highlight .si {
  color: #dd1144;
}
/* Literal.String.Interpol */
.highlight .sx {
  color: #dd1144;
}
/* Literal.String.Other */
.highlight .sr {
  color: #009926;
}
/* Literal.String.Regex */
.highlight .s1 {
  color: #dd1144;
}
/* Literal.String.Single */
.highlight .ss {
  color: #990073;
}
/* Literal.String.Symbol */
.highlight .bp {
  color: #999999;
}
/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #008080;
}
/* Name.Variable.Class */
.highlight .vg {
  color: #008080;
}
/* Name.Variable.Global */
.highlight .vi {
  color: #008080;
}
/* Name.Variable.Instance */
.highlight .il {
  color: #009999;
}
/* Literal.Number.Integer.Long */
.post > .highlight .lineno {
  color: #ccc;
  display: inline-block;
  padding: 0 5px;
  border-right: 1px solid #ccc;
}
.post > .highlight pre code {
  display: block;
  white-space: pre-wrap;
  overflow-x: auto;
  word-wrap: normal;
}
/* ########### DEFAULT #########*/
/* ########### HEADER #########*/
/* HEADERBAND */
/* ######### PAGE #########*/
/* Social headband */
/* #### POST ####*/
/* Archive Page */
/*#### Author ####*/
/*#### 404 ####*/
/* Archive button */
/* #### FOOTER ##### */
table {
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  border-collapse: collapse;
}
table tr {
  border-top: 1px solid #cccccc;
  background-color: white;
  margin: 0;
  padding: 5px;
  text-align: center;
}
table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
table tr th {
  font-weight: bold;
  border: 1px solid #cccccc;
  margin: 0;
  padding: 6px 13px;
  text-align: center;
}
table tr td {
  border: 1px solid #cccccc;
  margin: 0;
  padding: 6px 13px;
}
table tr th :first-child,
table tr td :first-child {
  margin-top: 0;
}
table tr th :last-child,
table tr td :last-child {
  margin-bottom: 0;
}
body {
  background-color: #ffffff;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  width: auto;
  height: auto;
}
body a {
  color: #327ea3;
}
body a:hover {
  color: #ff0000;
  text-decoration: none;
}
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
@media (max-width: 768px) {
  .nopaddingresponsive {
    padding: 0 !important;
    margin: 0 !important;
  }
}
time {
  font-style: italic;
}
/* ######### INLINE LINK ########### */
ul.inline {
  padding: 0;
  list-style-type: none;
}
ul.inline li {
  display: inline;
  list-style: none;
  list-style-type: none;
}
ul.inline li a {
  color: #000000;
  transition: all 500ms;
  /*browser specific versions*/
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
}
li.pocket a {
  background: url(/assets/readlater/pocket.png) center 0 no-repeat;
  display: inline-block;
  float: left;
  height: 48px;
  width: 48px;
  white-space: nowrap;
}
li.pocket a:hover {
  background: url(/assets/readlater/pocket-hover.png) center 0 no-repeat;
}
li.readability a {
  display: block;
  display: inline-block;
  float: left;
  height: 48px;
  width: 48px;
  white-space: nowrap;
  background: url(/assets/readlater/readability.png) center 0 no-repeat;
}
li.readability a:hover {
  background: url(/assets/readlater/readability-hover.png) center 0 no-repeat;
}
/*### General Hover ### */
li.color-twitter a:hover {
  color: #00aced;
}
li.color-facebook a:hover {
  color: #3b5998;
}
li.color-google a:hover {
  color: #dd4b39;
}
li.color-github a:hover {
  color: #008000;
}
li.color-linkedin a:hover {
  color: #007bb6;
}
li.color-email a:hover {
  color: #ff0000;
}
li.color-author a:hover {
  color: #ff0000;
}
li.color-rss a:hover {
  color: #ffa500;
}
li.color-pocket a:hover {
  color: #ffc0cb;
}
li.color-readability a:hover {
  color: #ff0000;
}
/*############# Header ##########*/
/* Colpred band */
.colored-band {
  height: 2px;
}
.colored-band-one {
  background-color: #327ea3;
}
.colored-band-two {
  background-color: #4ca5d0;
}
.colored-band-three {
  background-color: #ffbc38;
}
.colored-band-four {
  background-color: #e82c0c;
}
/* handband */
#headbandframe {
  margin-top: 50px;
  margin-bottom: 50px;
}
#headband {
  width: 780px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}
@media (max-width: 768px) {
  #headband {
    width: 100%;
  }
}
a#headband {
  text-decoration: none;
  color: #000000;
  transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -webkit-transition: all 200ms;
  -o-transition: all 200ms;
}
a:hover#headband {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
}
#headband div#logo {
  display: inline-block;
  background-image: url(/assets/logo.png);
  background-repeat: no-repeat;
  background-size: 180px 180px;
  height: 180px;
  width: 180px;
}
@media (max-width: 768px) {
  #headband div#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 768px) and (max-width: 600px) {
  #headband div#logo {
    background-size: 90px 90px;
    height: 90px;
    width: 90px;
  }
}
#headband h1#texts {
  display: inline-block;
  vertical-align: text-bottom;
  padding-bottom: 20px;
  color: #000000;
}
@media (max-width: 768px) {
  #headband h1#texts {
    display: none;
  }
}
#headband h1#texts div#osx {
  display: inline-block;
  font-size: 120px;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
@media (max-width: 768px) {
  #headband h1#texts div#osx {
    display: none;
  }
}
#headband h1#texts div#bricks {
  display: inline-block;
  font-size: 120px;
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
@media (max-width: 768px) {
  #headband h1#texts div#bricks {
    display: none;
  }
}
/* ############# Page ################*/
#page {
  background-color: transparent;
  min-height: 200px;
  /*  width: @page-width;
  display: block;
  margin-left: auto;
  margin-right: auto;*/
}
/* Social band */
#socialheadband {
  text-align: right;
  margin-right: 40px;
  margin-left: 40px;
  font-size: 2em;
}
@media (max-width: 768px) {
  #socialheadband {
    text-align: center;
    margin-right: 0px;
    margin-left: 0px;
  }
}
#socialheadband li {
  margin-left: 8px;
}
/* ###### POST ####### */
.post {
  background-color: #ffffff;
}
.post div.headband {
  border-top: 1px solid #e5e5e5;
}
.post div.headband div.category {
  background-color: #000000;
  height: 60px;
}
@media (min-width: 992px) {
  .post div.headband div.category {
    max-width: 560px;
  }
}
.post div.headband div.category.tricks {
  background-color: #327ea3;
}
.post div.headband div.category.server {
  background-color: #4ca5d0;
}
.post div.headband div.category.media {
  background-color: #e82c0c;
}
.post div.headband div.category.development {
  background-color: #02243a;
}
.post div.headband div.category.alfredworkflow {
  background-color: #310d42;
}
.post div.headband div.category div.logo {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  height: 60px;
  width: 60px;
  float: left;
  border-right: 1px solid #e5e5e5;
}
@media (max-width: 992px) {
  .post div.headband div.category div.logo {
    display: none;
  }
}
@media (max-width: 992px) and (max-width: 768px) {
  .post div.headband div.category div.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
    border-right: transparent;
  }
}
/* logos */
.post div.headband div.category div.logo.default {
  background-image: url(/assets/category/default.png);
  background-size: 44px 34px;
}
.post div.headband div.category div.logo.tricks {
  background-image: url(/assets/category/tricks.png);
  background-size: 44px 44px;
}
.post div.headband div.category div.logo.server {
  background-image: url(/assets/category/server.png);
  background-size: 44px 44px;
}
.post div.headband div.category div.logo.media-center {
  background-image: url(/assets/category/media-center.png);
  background-size: 44px 44px;
}
.post div.headband div.category div.logo.development {
  background-image: url(/assets/category/development.png);
  background-size: 44px 44px;
}
.post div.headband div.category div.logo.alfredworkflow {
  background-image: url(/assets/category/alfred.png);
  background-size: 44px 38px;
}
.post div.headband div.category div.title {
  display: block;
  margin-top: 10px;
  font-size: 2em;
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
}
@media (max-width: 768px) {
  .post div.headband div.category div.title {
    display: none;
  }
}
.post div.headband ul.sharing {
  /*  top: @post-headband-sharing-margin-top;
  left: @post-headband-sharing-margin-left; */
  font-size: 2.5em;
  margin-top: 5px !important;
  width: 350px;
}
@media (max-width: 768px) {
  .post div.headband ul.sharing {
    text-align: center;
    width: 100%;
  }
}
.post div.headband ul.sharing li {
  margin-left: 15px !important;
}
/* Posts content */
.post section {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  margin-bottom: 50px;
  margin-top: 10px;
}
.post section header {
  margin-bottom: 30px;
}
.post section header a h1 {
  color: #ff0000;
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  font-size: 35px;
  margin-bottom: 0px;
}
.post section header a:hover h1 {
  color: #4ca5d0;
}
.post section header date {
  color: #808080;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 18px;
}
article {
  color: #434343;
}
article a {
  font-weight: bold;
}
article a:hover {
  text-decoration: underline;
}
article h2,
article h3,
article h4 {
  color: #000000;
  font-family: 'PT Sans', sans-serif;
  margin-left: 0px;
}
article h2:before {
  font: 36px Times;
  padding-right: 6px;
  content: '›';
}
article p,
article blockquote,
article pre,
article h3,
article h4,
article h5,
article h6 {
  margin-left: 20px;
}
@media (max-width: 768px) {
  article p,
  article blockquote,
  article pre,
  article h3,
  article h4,
  article h5,
  article h6 {
    margin-left: 0px;
  }
}
article p {
  text-align: justify;
  text-justify: inter-word;
}
article blockquote p {
  margin-left: 0px;
  text-align: left;
}
article ul {
  list-style: none;
  padding-left: 1.3em ;
}
article ul li:before {
  content: '\f179';
  font-family: FontAwesome;
  /* font-size: @post-list-icon-size;*/
  display: inline-block;
  margin-left: -1.3em;
  width: 1.3em;
  vertical-align: middle;
}
article img {
  max-width: 80%;
  height: auto;
  display: block;
  margin: 30px;
  margin-left: auto;
  margin-right: auto;
}
.post section div.linksdiv {
  float: right;
  position: relative;
  left: -50%;
  text-align: left;
}
.post section ul.links {
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
  left: 50%;
}
.post section ul.links li a {
  color: #ffffff;
  background-color: #310d42;
  padding: 10px;
  margin: 4px;
  text-align: center;
  border-radius: 5px;
}
.post section ul.links li a:hover {
  background-color: #5d2182;
}
.post section div a.alfredLinks {
  clear: both;
  color: #5d2182;
  text-align: center;
  /*  margin-left: auto;
  margin-right: auto;*/
  padding-left: 30px;
  display: block;
  /*  width: @post-alfredlink-width;
*/
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 300;
}
/*#### Author ####*/
.author header {
  text-align: center;
}
.author img {
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.author header a img {
  background-repeat: no-repeat;
  background-size: 180px 180px;
  height: 180px;
  width: 180px;
  border-radius: 50%;
  border: 2px solid #000000;
  transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -webkit-transition: all 200ms;
  -o-transition: all 200ms;
}
.author header a:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
}
.author header div {
  margin-top: 10px;
  margin-bottom: 30px;
}
.author header div .name {
  margin-bottom: 5px;
  font-size: 28px;
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #000000;
}
.author header div .description {
  font-size: 28px;
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #434343;
}
.author header ul {
  margin-top: 20px;
}
.author header ul li {
  min-width: 18px;
}
.author header ul li a {
  color: #ffffff;
  background-color: #000000;
  margin-left: 5px;
  padding: 10px;
  border-radius: 5px;
  min-width: 5px;
  font-size: 18px;
}
.author header ul li a:hover {
  color: #ff9900;
  background-color: #000000;
}
/*.author article{
  margin-top: ;
  margin-bottom: ;
}*/
/*#### 404 ####*/
#quatre {
  margin: 40px;
}
#quatre div#chiffre {
  font-size: 100px;
  text-align: center;
}
#quatre p {
  text-align: center;
  font-size: 24px;
}
#quatre-archive {
  font-size: 24px;
  color: #434343;
}
/* Archive PAge */
#archive {
  border-top: 1px solid #e5e5e5;
  padding-top: 30px;
}
#archive li {
  font-size: 20px;
  list-style: none;
  margin-bottom: 15px;
  font-family: 'PT Sans', sans-serif;
}
#archive li span.category {
  border-radius: 3px;
  background-color: #000000;
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #ffffff;
  padding: 4px;
  text-transform: uppercase;
}
#archive li span.category.tricks {
  background-color: #327ea3;
}
#archive li span.category.server {
  background-color: #4ca5d0;
}
#archive li span.category.media {
  background-color: #e82c0c;
}
#archive li span.category.development {
  background-color: #02243a;
}
#archive li span.category.alfredworkflow {
  background-color: #310d42;
}
#archive li time {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 16px;
  float: right;
  color: #808080;
}
/*####### FOOTER ######### */
/*#toTop {
  width: @footer-line-width;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  font-size: 30px;

  }*/
a#archive-button {
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  border-radius: 5px;
  /*  border-style: solid;
  border-width: @archivebt-brd-witdh;
  border-color: @archivebt-border-color;*/
  background-color: #333333;
  color: #ffcc00;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  transition: all 200ms;
  /*browser specific versions*/
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -webkit-transition: all 200ms;
  -o-transition: all 200ms;
}
a:hover#archive-button {
  background-color: #252525;
  color: #ff9900;
  border-color: #000000;
}
footer {
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom: 40px;
  margin-top: 40px;
}
footer ul#footer_links {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  border-top: 1px solid #e5e5e5;
  padding-top: 10px;
  font-weight: bold;
  font-size: 1em;
}
footer ul#footer_links li a {
  color: #000000;
}
footer ul#footer_links li a:hover {
  color: #ff0000;
}
footer #copyright {
  font-size: 0.9em;
  color: #9b9b9b;
  text-align: center;
}
