@import url(http://twitter.github.com/bootstrap/assets/css/bootstrap.css);
/* ########### DEFAULT #########*/
/*for inline content */
/* ########### HEADER #########*/
/* Colored Band */
/* HEADERBAND */
/* ######### PAGE #########*/
/* Social headband */
/*############## HEADER ######### */
/* ressources */
/* Sizes */
/* Animations */
/* ##### PAGE ###### */
/* General */
/* Social Headband*/
/* ########### DEFAULT #########*/
/* ########### HEADER #########*/
/* HEADERBAND */
/* ######### PAGE #########*/
/* Social headband */
body {
  background-color: #ffffff;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
body a {
  color: #ff0000;
}
body a:hover {
  color: #008000;
  text-decoration: none;
}
/* ######### INLINE LINK ########### */
li a {
  color: #000000;
  transition: all 500ms;
  /*browser specific versions*/
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
}
li.color-twitter a:hover {
  color: #4099ff;
}
li.color-facebook a:hover {
  color: #3b5998;
}
li.color-google a:hover {
  color: #0000ff;
}
li.color-github a:hover {
  color: #008000;
}
li.color-linkedin a:hover {
  color: #0000ff;
}
li.color-email a:hover {
  color: #ff0000;
}
li.color-author a:hover {
  color: #ff0000;
}
li.color-rss a:hover {
  color: #ffa500;
}
li.color-pocket a:hover {
  color: #ffc0cb;
}
li.color-readability a:hover {
  color: #ff0000;
}
/*############# Header ##########*/
/* Colpred band */
.colored-band {
  height: 4px;
}
.colored-band-one {
  background-color: #327ea3;
}
.colored-band-two {
  background-color: #4ca5d0;
}
.colored-band-three {
  background-color: #ffbc38;
}
.colored-band-four {
  background-color: #e82c0c;
}
/* handband */
#headbandframe {
  margin-top: 50px;
  margin-bottom: 50px;
}
#headband {
  width: 780px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  /*background-color: @warning-test-color;*/
}
a#headband {
  text-decoration: none;
  color: #000000;
  transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -webkit-transition: all 200ms;
  -o-transition: all 200ms;
}
a:hover#headband {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
}
#headband div#logo {
  display: inline-block;
  background-image: url(/assets/headband/logo.png);
  background-repeat: no-repeat;
  background-size: 180px 180px;
  height: 180px;
  width: 180px;
}
#headband div#texts {
  display: inline-block;
  vertical-align: text-bottom;
  color: #000000;
}
#headband div#texts div#osx {
  display: inline-block;
  font-size: 120px;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
#headband div#texts div#bricks {
  display: inline-block;
  font-size: 120px;
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
/* ############# Page ################*/
#page {
  background-color: #ffa500;
  min-height: 200px;
  width: 940px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* Social band */
#socialheadband {
  text-align: right;
  margin-right: 40px;
  margin-left: 40px;
  font-size: 28px;
}
#socialheadband li {
  display: inline;
  list-style: none;
  margin-left: 8px;
}
