@background-color : white;

@warning-test-color : orange;

@link-color : red;
@link-color-hover : green;

/* Colored Band */

@colored-band-one:#327ea3;
@colored-band-two:#4ca5d0;
@colored-band-three:#ffbc38;
@colored-band-four:#e82c0c;

/* headband */
@headband-text-color : black;