

/* ########### DEFAULT #########*/
@background-color : white;
@warning-test-color : transparent;
@link-color : red;
@link-color-hover : green;
@link-color-inline : black; /*for inline content */

/* ########### HEADER #########*/

/* Colored Band */
@colored-band-one:#327ea3;
@colored-band-two:#4ca5d0;
@colored-band-three:#ffbc38;
@colored-band-four:#e82c0c;

/* HEADERBAND */
@headband-text-color : black;

/* ######### PAGE #########*/

/* Social headband */
@color-facebook : #3b5998;
@color-twitter : #4099FF;
@color-google : blue;
@color-github : green;
@color-linkedin : blue;
@color-email : red;
@color-author : @color-email;
@color-rss : orange;
@color-pocket : pink;
@color-readability:red;
