/* Some color */

@antracite                        :#282828;

/* ########### DEFAULT #########*/

@background-color                 : white;
@warning-test-color               : transparent;
@link-color                       : red;
@link-color-hover                 : green;
@link-color-inline                : black; /*for inline content */

/* ########### HEADER #########*/

/* Colored Band */
@colored-band-one                 : #327ea3;
@colored-band-two                 : #4ca5d0;
@colored-band-three               : #ffbc38;
@colored-band-four                : #e82c0c;

/* HEADERBAND */
@headband-text-color              : black;

/* ######### PAGE #########*/

/* Social headband */

@color-facebook                   : #3b5998;
@color-twitter                    : #00aced;
@color-google                     : #dd4b39;
@color-youtube                    : #bb0000;
@color-linkedin                   : #007bb6;
@color-instagram                  : #517fa4;
@color-pinterest                  : #cb2027;
@color-vine                       : #00bf8f;
@color-snapchat                   : #fffc00;
@color-flickr                     : #ff0084;
@color-tumblr                     : #32506d;
@color-vimeo                      : #aad450;
@color-foursquare                 : #0072b1;


@color-github                     : green;
@color-email                      : red;
@color-author                     : @color-email;
@color-rss                        : orange;
@color-pocket                     : pink;
@color-readability                :red;

/*#### POST ####*/
@post-bg-color                    : @background-color;

/* Headband */
@post-headband-categ-default-color: black;
@post-headband-categ-txt-color    : white;

@post-headband-sharing-color      : #333;

@post-categ-workflow              : #310D42;
@post-categ-tricks                : @colored-band-one;
@post-categ-server                : @colored-band-two;
@post-categ-media                 : @colored-band-four;
@post-categ-development           : #02243A;

/* Archive button */
@archivebt-bg-color               : #333;
@archivebt-bg-color-hover         : #252525;
@archivebt-txt-color              : #fc0;
@archivebt-txt-color-hover        : #f90;
@archivebt-border-color           : black;
@archivebt-border-color-hover     : black;



/* ### FOOTER #### */
@footer-line-color                :#e5e5e5;
@footer-line-height               : 1px;
@footer-links-color               : black;
@footer-links-color-hover         : @link-color-hover;
@footer-copyright-color           : #9b9b9b;