@PTSans:'PT Sans', sans-serif;
@Lato:Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
@HevleveticaNeueLight: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
@HevleveticaNeueUltraLight:'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
/* ########### DEFAULT #########*/

@font-global             : @HevleveticaNeueLight;

/* ########### HEADER #########*/

/* HEADERBAND */
@headband-font           :@HevleveticaNeueLight;
;
@headband-font-light     : @HevleveticaNeueUltraLight;
;
@headband-font-size      : 120px;
;

/* ######### PAGE #########*/

/* Social headband */
@socialheadband-font-size: 2em;



/* #### POST ####*/
@post-headband-categ-ft-size:2em;
@post-headband-categ-font:@Lato;
@post-headband-sharing-ft-size: 2.5em;

@post-font: @PTSans;
@post-font-size: 18px;
@post-title-font: @post-font;
@post-title-font-size:35px;
@post-subtitles-font:@post-font;


@post-date-font:@HevleveticaNeueLight;
@post-date-size:@post-font-size;
/* Archive Page */
@archive-size:20px;
@archive-categ-font:@Lato;
@archive-title-font:@PTSans;
@archive-date-font:@HevleveticaNeueLight;
@archive-date-size: 16px;


/*#### Author ####*/
@author-title-font:@Lato;
@author-title-font-size:28px;
@author-description-font:@HevleveticaNeueLight;
@author-description-font-size:16px;

@author-social-li-size:@post-font-size;

/*#### 404 ####*/

@quatre-size:24px;
@quatre-archive-size:24px;

/* Archive button */

@archive-bt-font : @Lato;
@archive-bt-ft-size : 1em;
/* #### FOOTER ##### */
@footer-font : @Lato;
@footer-links-size: 1em;
@footer-copyright-size: .9em;