
/*############## HEADER ######### */
/* ressources */
@headband-logo-path       : url(/assets/logo.png);

/* Sizes */ 
@colored-band-height      : 2px;
@colored-band-height-bottom     : 2px;
@headband-width           :780px;
@headband-margin          :50px;
@headband-logo-size       :180px;
@headband-logo-size-sm : 90px;

/* Animations */
@headband-animation-time  :200ms;
@headband-animation-scale :scale(1.1);

/* ##### PAGE ###### */

/* General */
@page-width-mobile        :100%;

/* Social Headband*/
@socialheadband-margin-lr :40px;
@socialheadband-direction :right;
@socialheadband-seperation: 8px;


/*#### POST ####*/
@post-text-margin:20px;

@post-header-margin-btm: 30px;
@post-image-max-width : 80%;
@post-list-icon:'\f179';
@post-list-icon-size:10px;

 @post-margin-top:10px;
  @post-margin-bottom:50px;
/* headband */
@post-headband-height : 60px;
@post-headband-categ-margin-top:330px;
@post-category-maxwitdh-normal : 560px;
@post-headband-sharing-margin-top:10px;
@post-headband-sharing-margin-left:30px;
@post-headband-category-margin:10px;
@post-headband-sharing-space:15px;



/* links */
@post-alfredlink-margin-btm : 30px;
@post-alfredlink-margin-top : 30px;
@post-alfredlink-width : 400px;

@post-links-margin-btm : 30px;
@post-links-margin-top : 30px;
@post-links-radius:5px;
@post-links-margin: 4px;
@post-links-padding: 10px;

/* Archive */
@archive-space:15px;
@archive-padding-top:30px;

/* Archive button */
@archivebt-radius:5px;
@archivebt-brd-witdh:1px;
@archivebt-padding:10px;
@archivebt-animation-time: 200ms;

/*#### Author Page ####*/
@author-avatar-size: 180px; 
@author-avatar-border-size: 2px;
@author-avatar-radius:50%;


@author-header-txt-margin-top:10px;
@author-header-txt-margin-btm:30px;
@author-header-name-margin-btm:5px;

@author-social-margin-top:20px;
@author-social-li-space:5px;
@author-social-li-padding:10px;
@author-social-li-min-width:200px;
@author-social-li-radius:5px;
@author-article-margin-top:10px;
@author-article-margin-btm:50px;

@author-img-speed :200ms;
@author-img-scale:scale(1.1);

/* ##### FOOTER ##### */

@footer-line-width :300px;
@footer-line-space : 10px;
@footer-margin-top: 40px;
@footer-margin-bottom:40px;