
/*############## HEADER ######### */
/* ressources */
@headband-logo-path       : url(/assets/logo.png);

/* Sizes */ 
@colored-band-height      : 2px;
@colored-band-height-bottom     : 2px;
@headband-width           :780px;
@headband-margin          :50px;
@headband-logo-size       :180px;
@headband-logo-size-sm : 90px;

/* Animations */
@headband-animation-time  :200ms;
@headband-animation-scale :scale(1.1);

/* ##### PAGE ###### */

/* General */
@page-width               :940px;
@page-width-mobile        :100%;

/* Social Headband*/
@socialheadband-margin-lr :40px;
@socialheadband-direction :right;
@socialheadband-seperation: 8px;






@article-width            :880px;

/*#### POST ####*/
@post-margin:20px;

/* headband */
@post-headband-height : 60px;
@post-headband-categ-margin-top:330px;
@post-category-maxwitdh-normal : 560px;
@post-headband-sharing-margin-top:10px;
@post-headband-sharing-margin-left:30px;
@post-headband-category-margin:10px;
@post-headband-sharing-space:10px;





/* Archive button */
@archivebt-radius:10px;
@archivebt-brd-witdh:1px;
@archivebt-padding:10px;
@archivebt-animation-time: 200ms;
/* ##### FOOTER ##### */

@footer-line-width :300px;
@footer-line-space : 10px;
@footer-margin-top: 40px;
@footer-margin-bottom:40px;