{% if site.disqus %}
<div id="post-comments" class="ten">
 <div id="disqus_thread"></div>
</div>
<script>
  function load_disqus() {
    var dsq = document.createElement('script'); 
    dsq.type = 'text/javascript'; 
    dsq.async = true; 
    dsq.src = "https://{{ site.disqus }}.disqus.com/embed.js"; 
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    disqus_loaded = true; 
  }

  var disqus_loaded = false;
  window.onscroll = function(e) {
    if ((window.innerHeight + window.scrollY + 1000) >= document.body.offsetHeight) {
      if (disqus_loaded === false){ 
        load_disqus();
      }    
    }
  };
</script>
{% endif %}