
<footer class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

	<ul class="inline" id="footer_links">
		<li><a href="/author" target="_blank">Author | </li>
		<li><a href="http://twitter.com/{{site.twitter}}" target="_blank">Twitter | </li>
		<li><a href="{{site.feed}}" target="_blank">RSS | </li>
		<li><a href="mailto:{{site.email}}" target="_blank">Contact</li>
	</ul>

	{% if site.copyright %}
	<div id="copyright">
		{{ site.copyright }}
	</div>
	{% endif%}
</footer>
{% include coloredband.html %}

