
<footer class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

	<ul class="inline" id="footer_links">
		<li><a href="/author" target="_blank">Author</a> | </li>
		<li><a href="http://twitter.com/{{site.twitter}}" target="_blank">Twitter</a> | </li>
		<li><a href="{{site.feed}}" target="_blank">RSS</a> | </li>
		<li><a href="mailto:{{site.email}}" target="_blank">Contact</a></li>
	</ul>

	{% if site.copyright %}
	<div id="copyright">
		{{ site.copyright }}
	</div>
	{% endif%}
</footer>
{% include coloredband.html %}


<!-- Ackee -->
<script async data-ackee type='text/javascript' src='http://www.pmpa.ovh:8892/!'></script>
<!-- Roost -->
<script src='//cdn.goroost.com/roostjs/ab9bf9fde02345be9813718e08677481' async></script>
