<header>
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 colored-band colored-band-one"></div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 colored-band colored-band-two"></div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 colored-band colored-band-three"></div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 colored-band colored-band-four"></div>
  </div>

  <div id="headbandframe">
    <a href="/" id="headband">
      <div id="logo"></div>
      <div id="texts">
        <div id="osx">OSX</div>
        <div id="bricks">Bricks</div>
      </div>

    </a>
  </div>
</header>

