
<div class="row">
	<div class="col-lg-8 col-md-10 col-sm-10 col-xs-12 col-lg-offset-2 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
		  {% assign countArticles = '0' %}
		 {% for post in site.posts | limit:site.home_articles_nb %}
		    {% capture countArticles %}{{ countArticles | plus: '1' }}{% endcapture %} <!-- Counting posts printed -->

		    {% assign article = post %}

		    {% include postui-top.html%}
		    	{{ post.content }}
		    {% include postui-bottom.html%}
		 {% endfor %}
    </div>
</div>


{% capture allpostsnb %}{{ site.posts | size }}{% endcapture %} <!-- number of post in INT -->

{% if allpostsnb >  countArticles %}
	{% include archive-button.html %}
{% endif %}

{% assign countArticles = nil %}


