<div class="post   col-lg-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">
	{% if article.categories contains 'workflow' %}
		{% assign categlogo = "alfredworkflow" %}
	{% elsif article.categories contains 'tricks' %}
		{% assign categlogo = "tricks" %}
	{% elsif article.categories contains 'server' %}
		{% assign categlogo = "server" %}
	{% elsif article.categories contains 'media' %}
		{% assign categlogo = "media-center" %}
	{% elsif article.categories contains 'development' %}
		{% assign categlogo = "development" %}
	{% else %}
		{% assign categlogo = "default" %}

	{% endif %}	
<div class="headband  col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">
	<div class="category   col-lg-6 col-md-6 col-sm-6 col-xs-12 nopadding {{ categlogo }}">


		<div class="logo {{ categlogo }}"></div>
		<div class="title">{{ article.categories | join: ' '}}</div>
	</div>	
	<ul class="inline col-lg-6 col-md-6 col-sm-6 col-xs-12 nopadding sharing">
		<li><a href=""><i class="fa fa-twitter"></i></a></li>
		<li><a href=""><i class="fa fa-twitter"></i></a></li>
	</ul>

	
</div>

<section class="col-lg-10 col-md-10 col-sm-10 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
	<header>
    <a href="{{ post.url }}"><h1> {{ article.title }}</h1></a>
    <p class="meta">{{ article.date | date: "%b %-d, %Y" }}{% if article.author %} • {{ article.author }}{% endif %}{% if article.meta %} • {{ article.meta }}{% endif %}</p>
  </header>

  <article>
  

