<div class="post   col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">

{% include header-color.html %}

<div class="headband  col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">
	<div class="category   col-lg-6 col-md-6 col-sm-6 col-xs-12 nopadding {{ categlogo }}">


		<div class="logo {{ categlogo }}"></div>
		<div class="title">{{ article.categories | join: ' '}}</div>
	</div>	
	<ul class="inline col-lg-6 col-md-6 col-sm-6 col-xs-12 nopadding sharing">

 		<li class="readability"><a href="https://readability.com/save?url={{site.url}}{{ article.url }}"  target="_blank"></a></li>
		<li class="pocket"><a href="https://getpocket.com/save?url={{site.url}}{{ article.url }}" target="_blank"></a></li>
												
		<li class="color-twitter"><a target="_blank" href="https://twitter.com/intent/tweet?text={{article.title}}&url={{site.url}}{{ article.url }}&via={{site.twittersite}}" ><i class="fa fa-twitter"></i></a></li>
		<li class="color-facebook"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{ article.url }}"><i class="fa fa-facebook"></i></a></li>
		<li class="color-google"><a target="_blank" href="https://plus.google.com/share?url={{site.url}}{{ article.url }}"><i class="fa fa-google"></i></a></li>
		<li class="color-email"><a target="_blank" href="mailto:?subject=[{{site.title}}] {{article.title}}&body=Hey, look at that : {{site.url}}{{ article.url }}"><i class="fa fa-paper-plane"></i></a></li>


	</ul>

	
</div>

<section class="col-lg-10 col-md-10 col-sm-10 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
	<header>
    <a href="{{ article.url }}"><h1> {{ article.title }}</h1></a>
    <date>{{ article.date | date: "%b %-d, %Y" }} </date>
  </header>

  <article>
  

